<div class="Projects">
  <% Project.all.order(created_at: :desc).each do |project| %>
    <%= link_to project_path(project) do %>
      <article class="Project">
        <div class="Project__author">
          <%= react_component 'components.Avatar', { seed: project.user_id } %>
          <p><%= project.user.name %> needs your help for...</p>
        </div>
        <h2 class="Project__title"><%= project.title %></h2>
        <p class="Project__description"><%= project.description %></p>
        <p class="Project__amount">30</p>
      </article>
    <% end %>
  <% end %>
</div>