<%= form_with model: @project, local: true, class: 'ProjectForm' do |f| %>
  <div class="ProjectForm__author">
    <%= react_component 'components.Avatar', { seed: current_user.id } %>
    <p><%= current_user.name %> is creating...</p>
  </div>
  <div class="ProjectForm__group">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="ProjectForm__group">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="ProjectForm__group">
    <%= f.label 'Target amount (BTC)' %>
    <%= f.number_field :target_amount %>
  </div>
  <div class="ProjectForm__group">
    <%= f.label 'Participants' %>
    <%= react_component 'components.UserSelect', { users: User.where.not(id: current_user.id).map{ |user| { value: user.id, label: user.email } } } %>
  </div>
  <div class="ProjectForm__group">
    <%= f.label :deadline %>
    <%= f.datetime_select :deadline, minute_step: 60, start_year: 2018 %>
  </div>
  <div class="ProjectForm__group">
    <%= f.submit 'Create Project', class: 'ProjectForm__submit' %>
  </div>
<% end %>