<div class="ProjectSingle">
  <div class="ProjectSingle__author">
    <%= react_component 'components.Avatar', { seed: @project.user_id } %>
    <p><%= @project.user.name %> needs your help for...</p>
  </div>
  <h2 class="ProjectSingle__title"><%= @project.title %></h2>
  <p class="ProjectSingle__description"><%= @project.description %></p>

  <% if @project.waiting? %>
    <%= react_component 'components.StartButton', pubkeys: @project.project_accounts.pluck(:pubkey), project_id: @project.id, authenticity_token: form_authenticity_token %>
  <% else %>
    <%= react_component 'components.BackButton', psbt: @project.psbt, project_id: @project.id, authenticity_token: form_authenticity_token %>
  <% end %>
</div>
